<!DOCTYPE html>
<html lang="{{LANG}}">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="{{OWNER}}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="shortcut icon" href="{% static 'image/connector-app-favicon.ico' %}">
    <title>TAMARIN DEBUG PAGE</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_ID}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', '{{GA_ID}}');
    </script>
</head>

<body class="has-background-light">
    <header class="section has-background-primary">
        <h1 class="title">TAMARIN DEBUG Page</h1>
    </header>
    <section class="section content">
        <p class="subtitle">Internals</p>
        <ul>
            <li><a href="../../heartbeat">Heart beat</a></li>
            <li><a href="../../manager/">Django manager</a></li>
            <li><a href="../api/">Rest API</a></li>
            <li><a href="../auth/jwt/create">Token API</a></li>
            <li><a href="../../silk">Silk (manager generated cookie required)</a></li>
        </ul>
        <p class="subtitle">Pages</p>
        <ul>
            <li><a href="../">Index</a></li>
            <li><a href="../manual">Manual</a></li>
            <li><a href="../signup">Signup</a></li>
            <li><a href="../signup-done">Signup done</a></li>
            <li><a href="../password-change">Password change</a></li>
            <li><a href="../password-change-done">Password change done</a></li>
            <li><a href="../feedback">Feedback</a></li>
            <li><a href="../feedback-done">Feedback done</a></li>
        </ul>
        <p class="subtitle">Apps</p>
        <ul>
            <li><a href="../../camera/camera-app.html?mode=app">Camera App</a></li>
            <li><a href="../../camera/camera-app.html">Camera App (Install)</a></li>
            <li><a href="../../link/link-app.html?mode=app">Link App</a></li>
            <li><a href="../../link/link-app.html">Link App (Install)</a></li>
        </ul>
        <p class="subtitle">Misc</p>
        <ul>
            <li><a href="https://github.com/fujii-kenichi/tamarin">Repository</a></li>
        </ul>
    </section>
</body>

</html>