<!DOCTYPE html>
<html lang="{{LANG}}">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="{{OWNER}}">
    <link rel="shortcut icon" href="{% static 'image/connector-app-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>{{FEEDBACK_DONE_MESSAGE}}</title>
    <script type="text/javascript">
        (function(c, l, a, r, i, t, y) {
            c[a] = c[a] || function() {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "{{CLARITY_CODE}}");
    </script>
</head>

<body class="app">
    <div class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-tablet is-half-desktop is-half-widescreen is-5-fullhd">
                        <div class="box">
                            <div class="has-text-centered">
                                <figure class="image is-96x96 is-inline-block">
                                    <img src="{% static 'image/connector-app-icon192x192.png' %}" alt="">
                                </figure>
                                <p><strong>{{FEEDBACK_DONE_MESSAGE}}</strong></p>
                                <p><small>{{VERSION}}</small></p>
                            </div>
                            <div class="has-text-centered subtitle py-3">
                                {{FEEDBACK_DONE_LONG_MESSAGE}}
                            </div>
                            <a href="../" class="button is-success is-rounded is-fullwidth">{{BACK_TO_HOME_LABEL}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>