<!DOCTYPE html>
<html lang="{{LANG}}">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="{{OWNER}}">
    <link rel="shortcut icon" href="{% static 'image/connector-app-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>タマリンへようこそ!</title>
</head>

<body class="has-background-light">
    <header class="hero is-primary is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title py-4">
                    タマリンへようこそ
                </h1>
                <h2 class="subtitle">
                    保育ドキュメンテーションに適した写真を簡単・安全に撮影するためのサービスです。
                </h2>
            </div>
        </div>
    </header>
    <div class="box cta">
        <p class="has-text-centered">
            <span class="tag is-primary">{{VERSION}}</span>&nbsp;内部評価版です.
        </p>
    </div>
    <main class="container">
        <div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <figure class="image is-64x64 is-inline-block m-3">
                            <img class="" src="{% static 'image/connector-app-icon192x192.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="has-text-centered">タマリンサービス</h4>
                            <p>タマリンカメラとタマリンクをつなぐサービスです。タマリンサービスにサインアップすることでタマリンカメラとタマリンクをご使用いただけます。</p>
                            <a class="button is-success is-rounded is-fullwidth" href="signup/">サインアップ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <figure class="image is-64x64 is-inline-block m-3">
                            <img class="" src="{% static 'image/camera-app-icon192x192.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="has-text-centered">タマリンカメラ</h4>
                            <p>写真を簡単で安全に撮るためのアプリです。簡単な操作でタグをつけることができます。撮影した写真はタマリンクでPCにダウンロードすることができます。</p>
                        </div>
                        <a class="button is-success is-rounded is-fullwidth" href="../../camera/camera-app.html">インストール</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <figure class="image is-64x64 is-inline-block m-3">
                            <img class="" src="{% static 'image/link-app-icon192x192.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="has-text-centered">タマリンク</h4>
                            <p>タマリンカメラで撮影した写真をダウンロードするアプリです。撮影された写真をタグで確認することや、タグと日時の条件をくみあわせてダウンロードすることができます。</p>
                            <a class="button is-success is-rounded is-fullwidth" href="../../link/link-app.html">インストール</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro column is-8 is-offset-2">
            <h2 class="title has-text-centered">お気軽にお試しください</h2><br>
            <p class="subtitle has-text-centered">スマホとPCがあればすぐにお試しいただけます!</p>
        </div>
        <div class="sandbox">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">iPhoneでタマリンカメラを使う</p>
                        <p class="content">
                            TODO: ここに簡単なつかいかたをかく。
                        </p>
                        <a class="button is-rounded is-primary is-small" href="manual#iphone">さらに詳しく</a>
                    </article>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">Androidでタマリンカメラを使う</p>
                        <p class="content">
                            TODO: ここに簡単なつかいかたをかく。
                        </p>
                        <a class="button is-rounded is-primary is-small" href="manual#android">さらに詳しく</a>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">iPadでタマリンクを使う</p>
                        <p class="content">
                            TODO: ここに簡単なつかいかたをかく。
                        </p>
                        <a class="button is-rounded is-primary is-small" href="manual#ipad">さらに詳しく</a>
                    </article>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">PCでタマリンクを使う</p>
                        <p class="content">
                            TODO: ここに簡単なつかいかたをかく。
                        </p>
                        <a class="button is-rounded is-primary is-small" href="manual#pc">さらに詳しく</a>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">パスワードを変えるには</p>
                        <p class="content">こちらでパスワードの変更ができます。</p>
                        <a class="button is-success is-rounded is-fullwidth" href="password-change/">パスワードを変更する</a>
                    </article>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">アカウントを削除するには</p>
                        <p class="content">こちらから管理者までご連絡ください。</p>
                        <a class="button is-success is-rounded is-fullwidth" href="feedback/">アカウントを削除する</a>
                    </article>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">問題を報告するには</p>
                        <p class="content">もし問題に遭遇したらこちらからご報告いただけますと幸いです。</p>
                        <a class="button is-success is-rounded is-fullwidth" href="feedback/">問題を報告する</a>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <footer class="level has-background-primary mt-5">
        <div class="level-item p-2">
            <p>{{OWNER}}</p>
        </div>
    </footer>
</body>

</html>