<!DOCTYPE html>
<html lang="{{LANG}}">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="{{OWNER}}">
    <link rel="shortcut icon" href="{% static 'image/connector-app-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>タマリンへようこそ!</title>
    <script type="text/javascript">
        (function(c, l, a, r, i, t, y) {
            c[a] = c[a] || function() {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "{{CLARITY_CODE}}");
    </script>
</head>

<body class="has-background-light">
    <header class="hero is-primary is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title py-4">
                    タマリンへようこそ
                </h1>
                <h2 class="subtitle">
                    さまざまな業務の中で必要とされる写真を、<b>安全に撮影して簡単に整理する</b>ために生まれました
                </h2>
            </div>
        </div>
    </header>
    <div class="box cta">
        <p class="has-text-centered">
            <span class="tag is-info">{{VERSION}}</span>&nbsp;が稼働中です
        </p>
    </div>
    <main class="container">
        <div class="intro column is-8 is-offset-2 has-text-centered">
            <h2 class="title">お気軽にお試しください</h2>
            <a class="button is-rounded is-primary is-small" href="manual">さらに詳しく</a>
        </div>
        <div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <figure class="image is-64x64 is-inline-block m-3">
                            <img class="" src="{% static 'image/connector-app-icon192x192.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="has-text-centered">アカウント</h4>
                            <p>タマリンカメラとタマリンクをつなぎます。まず最初にこちらからサインアップしてアカウントの作成をしてください。その後にタマリンカメラとタマリンクをご使用いただけます。</p>
                            <a id="connector" class="button is-success is-rounded is-fullwidth" href="signup/">サインアップ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <figure class="image is-64x64 is-inline-block m-3">
                            <img class="" src="{% static 'image/camera-app-icon192x192.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="has-text-centered">タマリンカメラ</h4>
                            <p>写真を安全に撮るためのアプリです。撮影と同時にあとで整理するためのタグを簡単につけることができます。撮影した写真はタマリンクでまとめてダウンロードすることができます。</p>
                        </div>
                        <a id="camera" class="button is-success is-rounded is-fullwidth" href="../../camera/camera-app.html">インストール</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <figure class="image is-64x64 is-inline-block m-3">
                            <img class="" src="{% static 'image/link-app-icon192x192.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="has-text-centered">タマリンク</h4>
                            <p>タマリンカメラで撮影した写真をダウンロードするためのアプリです。整理に使用するタグを管理することや、写真をタグや日時の条件とくみあわせたフォルダにダウンロードすることができます。</p>
                            <a id="link" class="button is-success is-rounded is-fullwidth" href="../../link/link-app.html">インストール</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sandbox">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white has-text-centered is-shady">
                        <p class="subtitle">お知らせ</p>
                        <p class="content">
                            デモに向けた内部評価版を稼働しています。もし問題を発見した場合にはお知らせいただければ幸いです。
                        </p>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">パスワードを変えたい</p>
                        <p class="content">こちらでサインアップしたアカウントのパスワードを変更することができます。</p>
                        <a class="button is-success is-rounded is-fullwidth" href="password-change/">パスワードを変更する</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">アカウントを削除したい</p>
                        <p class="content">こちらから管理者までご連絡ください。</p>
                        <a class="button is-success is-rounded is-fullwidth" href="{{FEEDBACK_URL}}">アカウントを削除する</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-white">
                        <p class="subtitle">問題を報告したい</p>
                        <p class="content">もし問題に遭遇した場合にはこちらからご報告いただけます。</p>
                        <a class="button is-success is-rounded is-fullwidth" href="{{FEEDBACK_URL}}">問題を報告する</a>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer has-background-primary mt-6 py-3">
        <div class="content has-text-centered">
            <p>{{OWNER}}</p>
        </div>
    </footer>
</body>

</html>