<!DOCTYPE html>
<html lang="{{LANG}}">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="{{OWNER}}">
    <link rel="shortcut icon" href="{% static 'image/connector-app-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>タマリン マニュアル</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_ID}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', '{{GA_ID}}');
    </script>
</head>

<body class="has-background-light">
    <header class="section has-background-primary">
        <h1 class="title">タマリン マニュアル</h1>
    </header>
    <main class="content">
        <section class="section box" id="iphone">
            <h2 class="subtitle">iPhoneでの使い方</h2>
            <p>
                TODO: ここに詳しい使い方を書く。
            </p>
            <a class="button is-rounded is-primary is-small" href="../">戻る</a>
        </section>
        <section class="section box" id="android">
            <h2 class="subtitle">Androidでの使い方</h2>
            <p>
                TODO: ここに詳しい使い方を書く。
            </p>
            <a class="button is-rounded is-primary is-small" href="../">戻る</a>
        </section>
        <section class="section box" id="ipad">
            <h2 class="subtitle">iPadでの使い方</h2>
            <p>
                TODO: ここに詳しい使い方を書く。
            </p>
            <a class="button is-rounded is-primary is-small" href="../">戻る</a>
        </section>
        <section class="section box" id="pc">
            <h2 class="subtitle">PCでの使い方</h2>
            <p>
                TODO: ここに詳しい使い方を書く。
            </p>
            <a class="button is-rounded is-primary is-small" href="../">戻る</a>
        </section>
    </main>
    <footer class="footer has-background-primary mt-6 py-3">
        <div class="content has-text-centered">
            <p>{{OWNER}}</p>
        </div>
    </footer>
</body>

</html>