<!DOCTYPE html>
<html lang="{{LANG}}">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="{{OWNER}}">
    <link rel="shortcut icon" href="{% static 'image/connector-app-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>タマリンの使い方</title>
    <script type="text/javascript">
        (function(c, l, a, r, i, t, y) {
            c[a] = c[a] || function() {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "{{CLARITY_CODE}}");
    </script>
</head>

<body class="has-background-light">
    <header class="section has-background-primary">
        <h1 class="title">タマリンの使い方</h1>
    </header>
    <main class="content">
        <section class="section box" id="connector">
            <h2 class="subtitle">アカウントについて</h2>
            <ul>
                <li>アカウント名に使用できるのはアルファベットと数字のみです。</li>
                <li>ひとつの組織で何個アカウントを作成していただいてもかまいません。たとえばひとつの保育園の中で各年齢別クラスでそれぞれ独立した写真の分類をしたい場合には、それぞれのクラスでアカウントを作成していただいてかまいません。</li>
                <li>長期間(概ね1か月以上)未使用のアカウントは、管理側で予告なく削除する場合がありますのでご了承ください。</li>
            </ul>
            <a class="button is-rounded is-primary is-small" href="../">戻る</a>
        </section>
        <section class="section box" id="camera">
            <h2 class="subtitle">タマリンカメラについて</h2>
            <ul>
                <li>インターネットに接続できるiOS 14以上を搭載したiPhone、iPod Touch、iPadとAndroid 8以上を搭載したAndroidスマートフォンで動作します。</li>
                <li>ひとつのアカウントで使用できるタマリンカメラの台数に現時点で制約はありません。</li>
                <li>機内モードなど、インターネットに接続されていない時は写真を転送しません。その場合に保持できる写真は最大で24枚までとなっています。</li>
                <li>タマリンカメラはブラウザで動作するアプリのため、ブラウザの機能的制約を受けます。現時点では以下のような制約があります。
                    <ul>
                        <li>Androidではタマリンカメラを使用中でなくてもバックグラウンドで写真を転送しますが、iOSではタマリンカメラを使用しているときにしか写真を転送しません。</li>
                        <li>Androidではズーム機能が使用できますが、iOSでは使用できません。</li>
                    </ul>
                </li>
            </ul>
            <h4>iPhoneで起動するたびに「カメラへのアクセスを求めています」が表示される</h4>
            <p>申し訳ありませんがiOSにおける現時点での制約事項になります。以下の方法でこの確認を出さないようにできますが、タマリン以外のサイトからのカメラアクセスも自動で許可されるようになってしまいます。 もしプライバシー・セキュリティの観点からこれが許容できるとお考えの場合には、どうぞこの設定のご利用をご検討ください。</p>
            <ul>
                <li>iOSの「設定」を開いて「Safari」を選ぶ。</li>
                <li>スクロールして「WEBサイトの設定」から「カメラ」を選び、「許可」にチェックをつける。</li>
            </ul>
            <a class="button is-rounded is-primary is-small" href="../">戻る</a>
        </section>
        <section class="section box" id="link">
            <h2 class="subtitle">タマリンクについて</h2>
            <ul>
                <li>インターネットに接続できるWindows 10/11を搭載したPCで動作します。最新版のEdgeをご使用ください。</li>
                <li>PCで写真をダウンロードするフォルダーは原則として「ピクチャ」フォルダーをご使用ください。</li>
                <li>複数台のPCでご使用いただくことも可能ですが、いずれかのPCでダウンロードしたら写真はタマリンサーバからは削除されることにご注意ください。</li>
                <li>ダウンロード機能を用いず、コンテキスト・シーンの変更や現在タマリンサーバに保存されている写真の状況の確認だけであれば、MacあるいはiPadもご利用いただけます。最新版のSafariをご使用ください。</li>
                <li>長期間(概ね1か月以上)ダウンロードしない場合には、管理側で予告なく写真を削除する場合がありますのでご注意ください。</li>
            </ul>
            <h4>保存するたびにブラウザの確認ダイアログが2回ほど表示される</h4>
            <p>申し訳ありませんがEdgeにおける現時点での制約事項になります。毎回「許可する」を選択して処理を続行してください。</p>
            <h4>撮影したはずの写真がダウンロードされない</h4>
            <p>すべてのタマリンカメラからのアップロードは終わっていますでしょうか？タマリンカメラが写真をアップロードしてタマリンクでダウンロードできるようになるまでには、最大で数分程度の時間を必要とする場合があります。</p>
            <a class="button is-rounded is-primary is-small" href="../">戻る</a>
        </section>
    </main>
    <footer class="footer has-background-primary mt-6 py-3">
        <div class="content has-text-centered">
            <p>{{OWNER}}</p>
        </div>
    </footer>
</body>

</html>