<!DOCTYPE html>
<html lang="ja">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="shortcut icon" href="{% static 'image/connector-favicon.ico' %}">
    <title>サインアップが完了しました</title>
</head>

<body>
    <div class="header">
        <img class="title" src="{% static 'image/connector-icon-192x192.png' %}">
        <h1>サインアップが完了しました</h1>
    </div>
    <div class="main">
        <h2>タマリンサービスをお使いいただけます！</h2>
        <p>
            登録していただいたユーザ名とパスワードで、タマリンク・タマリンカメラからサインインしてください.
        </p>
    </div>
</body>

</html>