<!DOCTYPE html>
<html lang="{{LANG}}">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="{{OWNER}}">
    <link rel="shortcut icon" href="{% static 'image/connector-app-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>{{SIGNUP_MESSAGE}}</title>
    <script>
        function onload() {
            const terms = "{{TERMS_MESSAGE}}".replaceAll(" ", "");
            document.getElementById("terms").value = terms.replaceAll("$", "\n");
        }
    </script>
</head>

<body class="app" onload="onload()">
    <div class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-tablet is-half-desktop is-half-widescreen is-5-fullhd">
                        <a class="delete is-pulled-right m-1" href="../"></a>
                        <div class="box">
                            <div class="has-text-centered">
                                <figure class="image is-96x96 is-inline-block">
                                    <img src="{% static 'image/connector-app-icon192x192.png' %}" alt="">
                                </figure>
                                <p><strong>{{SIGNUP_LONG_MESSAGE}}</strong></p>
                                <p><small>{{VERSION}}</small></p>
                            </div>
                            <form method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="field">
                                    <input id="id_username" name="username" class="input" type="text" minlength="{{MIN_NAME_LENGTH}}" maxlength="{{MAX_NAME_LENGTH}}" required placeholder="{{USERNAME_LABEL}}" autofocus>
                                </div>
                                <div class="field">
                                    <input id="id_password1" name="password1" class="input" type="password" minlength="{{MIN_NAME_LENGTH}}" maxlength="{{MAX_NAME_LENGTH}}" required placeholder="{{PASSWORD_LABEL}}">
                                </div>
                                <div class="field">
                                    <input id="id_password2" name="password2" class="input" type="password" minlength="{{MIN_NAME_LENGTH}}" maxlength="{{MAX_NAME_LENGTH}}" required placeholder="{{PASSWORD2_LABEL}}">
                                </div>
                                <div class="field">
                                    <textarea id="terms" class="textarea is-small" rows="6" readonly></textarea>
                                </div>
                                {% if form.errors %}
                                <div class="notification is-warning my-2">
                                    {% for field in form %} {% for error in field.errors %}
                                    <p>{{ error|escape }}</p>
                                    {% endfor %} {% endfor %}
                                </div>
                                {% endif %}
                                <button class="button is-success is-rounded is-fullwidth" type="submit">{{SIGNUP_MESSAGE}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>