<!DOCTYPE html>
<html lang="ja">
{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="shortcut icon" href="{% static 'image/connector-favicon.ico' %}">
    <title>サインアップが完了しました</title>
</head>

<body>
    <div class="header">
        <img class="title" src="{% static 'image/connector-icon-192x192.png' %}">
        <h1>サインアップが完了しました</h1>
    </div>
    <div class="main">
        <h2>タマリンサービスへのサインアップが完了しました！</h2>
        <ul>
            <li>この画面は閉じていただいて問題ございません。</li>
            <li>その後に、登録していただいたユーザ名とパスワードでタマリンク・タマリンカメラからサインインしてください。</li>
        </ul>
    </div>
</body>

</html>