/* 
 * タマリンクのCSS.
 */


/* 画面間で共通した設定. */

body.app {
    color: black;
    background-color: pink;
    margin: 0;
    border: 0;
    padding: 0;
}

div.panel_view {
    display: none;
    position: relative;
    height: 100vh;
}

div.panel_content {
    position: absolute;
    text-align: center;
    background-color: lavenderblush;
    border-radius: 1em;
    padding: 1em 1.2em 1em 1em;
    min-width: 15em;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

img.panel_icon {
    height: 4em;
    margin: 2.5em 2em 0.5em 2em;
}

div.panel_title {
    font-size: x-large;
}

div.panel_subtitle {
    font-size: small;
    margin-bottom: 1em;
}

div.panel_header {
    font-size: larger;
    color: dimgray;
    margin-bottom: 1em;
}

div.panel_message {
    font-weight: bolder;
    margin-bottom: 1em;
}

input.readonly {
    background-color: lavenderblush;
    border-color: white;
    border-style: solid;
    border-width: 0.1em;
}

input.input {
    border-color: white;
    border-style: solid;
    border-width: 0.1em;
}

input.button {
    background-color: whitesmoke;
}


/* メインビュー用の設定. */

div.main_view {
    display: none;
    line-height: 2;
}

div.header {
    position: relative;
    background-color: lavenderblush;
    padding: 1em;
    height: 2em;
}

div.title {
    display: inline;
    position: absolute;
    vertical-align: middle;
    left: 1em;
}

img.main_logo {
    display: inline;
    vertical-align: middle;
    height: 2em;
}

div.main_name {
    display: inline;
    vertical-align: middle;
    font-size: large;
}

div.main_version {
    display: inline;
    vertical-align: middle;
    font-size: small;
    color: dimgray;
}

div.menu {
    position: absolute;
    right: 1em;
    display: inline;
    vertical-align: middle;
}

input.user {
    padding: 0.5em;
    color: dimgray;
}

a.header {
    position: absolute;
    right: 1em;
    margin: 0.5em;
}

table.section {
    margin: 2em;
    width: calc(100% - 3em);
    border-top: 0.2em solid lavenderblush;
}

caption.section {
    text-align: left;
}

td.label {
    width: 16em;
    min-width: 8em;
    font-size: small;
    border-bottom: 0.1em solid lavenderblush;
}

td.input {
    min-width: 32em;
    border-bottom: 0.1em solid lavenderblush;
}

input.text {
    width: 100%;
}

div.buttons {
    margin: 2em;
}


/* 認証ビュー用の設定. */

div.auth_error_message {
    display: none;
    margin: 0.25em;
    color: coral;
    font-weight: bolder;
}

input.auth_input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0.25em;
}

input.separator {
    margin-bottom: 1em;
}

input.auth_button {
    display: block;
    width: 100%;
    margin: 1em 0.25em 0 0.25em;
}

a.help_link {
    display: block;
    font-size: small;
    color: dimgray;
    text-decoration: none;
}

a.signup_link {
    display: block;
    color: black;
    text-decoration: none;
    font-size: small;
    width: 20em;
    background-color: skyblue;
    padding: 0.2em 2em 0.2em 2em;
    border: 0;
    margin-top: 1em;
}

a.app_open_link {
    display: block;
    font-size: small;
    color: dimgray;
    margin: 0.5em;
    text-decoration: none;
}


/* ダウンロードビュー用の設定. */

input.download_count {
    display: block;
    width: 20em;
    color: orange;
    text-align: center;
    margin: 1em;
}

input.download_file {
    display: block;
    width: 20em;
    color: dimgray;
    text-align: center;
    margin: 1em;
}