body::-webkit-scrollbar {
    display: none;
}

.tama-card-header {
    min-width: 18em;
}

.tama-card-content {
    min-width: 18em;
    height: 25ex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.tama-card-footer {
    min-width: 18em;
}

.tama-shutter {
    box-sizing: border-box;
    margin: 0.1em;
    padding: 0.1em;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    border-style: solid;
    border-width: 0.1em;
    border-color: dimgray;
    background-color: black;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.tama-shutter-colors {
    box-sizing: border-box;
    font-size: small;
    margin: 0.1em;
    padding: 0.1em;
    width: 5em;
    border-style: solid;
    border-width: 0.1em;
    border-color: dimgray;
    text-align: center;
}

.tama-status {
    position: relative;
    padding: 0;
}

.tama-status-label {
    background-color: white;
    position: absolute;
    font-size: xx-large;
    text-align: center;
    line-height: 10ex;
    width: 10ex;
    border-radius: 10ex;
    border: 0;
    top: calc(50% - 5ex);
    left: calc(50% - 5ex);
}

.tama-download-rule {
    position: relative;
    left: -3em;
}

.ct-chart {
    height: 100%;
}

.ct-series-e .ct-slice-donut {
    stroke: lightpink !important;
}