<!DOCTYPE html>
<html lang="{{LANG}}">
<!-- タマリンクの画面. -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="{{DESCRIPTION}}">
    <meta name="author" content="{{ORG}}">
    <meta name="theme-color" content="{{THEME_COLOR}}">
    <meta name="google" content="notranslate">
    <link rel="shortcut icon" href="{{FAVICON}}">
    <link rel="manifest" href="link-app.webmanifest">
    <link rel="stylesheet" href="link-app.css">
    <script src="{{DEXIE_JS}}" defer></script>
    <script src="{{CRYPTO_JS}}" defer></script>
    <script src="link-app.js" defer></script>
    <title>{{NAME}}</title>
</head>

<body class="app" onload="main()">
    <!-- 以下のいずれかのビューのみをユーザに見せる. -->

    <!-- メインビュー：ユーザがタグの編集操作などをするビュ. -->
    <div id="main_view" class="main_view">
        <!-- ヘッダ部分. -->
        <div class="header">
            <div class="title">
                <img class="main_logo" src="{{ICON_192}}" alt="tamarin">
                <div class="main_name">{{NAME}}</div>
                <div class="main_version">{{VERSION}}</div>
            </div>
            <div class="menu">
                <input id="user" class="user" type="button">
            </div>
        </div>
        <!-- 中身のコンテンツ部分. -->
        <div class="body">
            <a class="panel_help_link header" href="{{LINK_HELP_URL}}" target="_blank">{{LINK_HELP_LABEL}}</a>
            <table class="section">
                <caption class="section">{{USER_SECTION_LABEL}}</caption>
                <tr class="section">
                    <td class="label">{{SCENE_TAG_LABEL}}</td>
                    <td class="value">
                        <input id="scene_tag" class="text" required minlength="1" maxlength="{{MAX_TAG_LENGTH}}">
                    </td>
                </tr>
                <tr class="section">
                    <td class="label">{{SCENE_COLOR_LABEL}}</td>
                    <td class="value">
                        <input id="scene_color" class="text" required minlength="1" maxlength="{{MAX_TAG_LENGTH}}">
                    </td>
                </tr>
                <tr class="section">
                    <td class="label">{{CONTEXT_TAG_LABEL}}</td>
                    <td class="value">
                        <input id="context_tag" class="text" required minlength="1" maxlength="{{MAX_TAG_LENGTH}}">
                    </td>
                </tr>
            </table>
            <table class="section">
                <caption class="section">{{MEDIA_SECTION_LABEL}}</caption>
                <tr class="section">
                    <td class="label">{{DOWNLOAD_RULE_LABEL}}</td>
                    <td class="value">
                        <select id="download_rule" class="download_rule">
                        <option value="1">{{DOWNLOAD_RULE_1}}</option>
                        <option value="2">{{DOWNLOAD_RULE_2}}</option>
                    </select>
                    </td>
                </tr>
                <tr class="section">
                    <td class="label">{{DOWNLOAD_ONLY_LABEL}}</td>
                    <td class="value">
                        <input id="download_only" class="checkbox" type="checkbox">
                    </td>
                </tr>
            </table>
            <div class="buttons">
                <input id="setting" class="button" type="button" value="{{SETTING_LABEL}}">
                <input id="download" class="button" type="button" value="{{DOWNLOAD_LABEL}}">
            </div>
        </div>
    </div>
    <!-- 認証ビュー：ユーザがサインインをするビュー. -->
    <div id="auth_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{ICON_192}}" alt="tamarin">
            <div class="panel_title">{{NAME}}</div>
            <div class="panel_subtitle">{{VERSION}}</div>
            <div id="signin_error" class="panel_error_message">{{SIGNIN_ERROR}}</div>
            <input id="username" class="panel_input" type="text" required minlength="1" maxlength="{{MAX_NAME_LENGTH}}" placeholder="{{USERNAME_LABEL}}" autocorrect="off" autocapitalize="none">
            <input id="password" class="panel_input" type="password" required minlength="1" maxlength="{{MAX_NAME_LENGTH}}" placeholder="{{PASSWORD_LABEL}}">
            <input id="signin" class="panel_button" type="button" value="{{SIGNIN_LABEL}}">
            <a class="panel_help_link" href="{{CONNECTOR_HELP_URL}}" target="_blank">{{CONNECTOR_HELP_LABEL}}</a>
            <hr>
            <a class="signup_link" href="{{SIGNUP_URL}}" target="_blank">{{SIGNUP_LABEL}}</a>
        </div>
    </div>
    <!-- ダウンロードビュー：ファイルをダウンロードしている時のビュー. -->
    <div id="download_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{LOADING_ICON}}" alt="download">
            <div class="panel_title">{{LOADING_LABEL}}</div>
            <input id="download_count" class="download_count" type="text" readonly>
            <input id="download_file" class="download_file" type="text" readonly>
            <input id="download_cancel" class="button" type="button" value="{{DOWNLOAD_CANCEL_LABEL}}">
        </div>
    </div>
    <!-- ローディングビュー：「おまちください」を表示. -->
    <div id="loading_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{LOADING_ICON}}" alt="loading">
            <div class="panel_message">{{LOADING_MESSAGE}}</div>
        </div>
    </div>
    <!-- インストールビュー：「インストールの準備ができました」を表示. -->
    <div id="install_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{ICON_192}}" alt="install">
            <div class="panel_title">{{NAME}}</div>
            <div class="panel_subtitle">{{VERSION}}</div>
            <div class="panel_message">{{INSTALL_MESSAGE}}</div>
            <a class="panel_help_link" href="{{INSTALL_HELP_URL}}" target="_blank">{{INSTALL_HELP_LABEL}}</a>
            <a class="app_open_link" href="{{MODE_APP}}">{{APP_OPEN_LABEL}}</a>
        </div>
    </div>
    <!-- エラービュー：エラーを表示. -->
    <div id="error_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{ERROR_ICON}}" alt="error">
            <div class="panel_message">{{ERROR_MESSAGE}}</div>
        </div>
    </div>
</body>

</html>