body::-webkit-scrollbar {
    display: none;
}

.tama-main {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.tama-menu {
    background-color: lightpink;
    font-size: large;
    text-align: center;
    padding: 0.5em;
    height: 6ex;
}

.tama-author-name {
    width: 35%;
    margin: 0;
    padding: 0.2em;
    border: 0.1em;
    border-radius: 1em;
    font-size: large;
    cursor: pointer;
    background-color: lavenderblush;
    border-color: dimgray;
}

.tama-context-tags {
    width: 35%;
    margin: 0;
    padding: 0;
    border: 0.1em;
    z-index: 100;
    font-size: large;
    text-rendering: auto !important;
    -webkit-appearance: menulist-button !important;
    background-color: lavenderblush;
    border-color: dimgray;
}

.tama-photo-count {
    width: 3em;
    margin: 0;
    padding: 0.2em;
    border: 0.1em;
    border-radius: 1em;
    font-size: large;
    background-color: lavenderblush;
    border-color: dimgray;
    cursor: pointer;
}

.tama-setting {
    width: 2em;
    margin: 0;
    padding: 0.2em;
    border: 0.1em;
    border-radius: 1em;
    font-size: large;
    background-color: lavenderblush;
    border-color: dimgray;
    cursor: pointer;
}

.tama-preview {
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: calc(100vh - 6ex);
    z-index: 1;
}

.tama-shutters {
    position: absolute;
    text-align: center;
    top: 55%;
    bottom: auto;
    left: auto;
    right: 1em;
    transform: translateY(-50%);
    z-index: 10;
}

.tama-shutter {
    display: block;
    margin: 0.5em;
    width: 5em;
    height: 5em;
    line-height: 5em;
    border-radius: 5em;
    border-color: lightgray;
    border-width: 0.1em;
    font-size: small;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}

@media screen and (orientation: portrait) {
    .tama-shutters {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .tama-shutter {
        display: inline-block;
    }
}