/* 
 * タマリンカメラのCSS.
 */


/* 画面間で共通した設定. */

body.app {
    color: black;
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

div.panel_view {
    background-color: pink;
    display: none;
    position: relative;
    height: 100vh;
}

div.panel_content {
    position: absolute;
    text-align: center;
    background-color: lavenderblush;
    border-radius: 1em;
    padding: 1em 1.2em 1em 1em;
    min-width: 15em;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

img.panel_icon {
    height: 4em;
    margin: 2.5em 2em 0.5em 2em;
}

div.panel_title {
    font-size: x-large;
}

div.panel_subtitle {
    font-size: small;
    margin-bottom: 1em;
}

div.panel_header {
    font-size: larger;
    color: dimgray;
    margin-bottom: 1em;
}

div.panel_message {
    font-weight: bolder;
    margin-bottom: 1em;
}

input.input {
    border-color: white;
    border-style: solid;
    border-width: 0.1em;
}

input.button {
    background-color: whitesmoke;
}


/* カメラビュー用の設定. */

div.camera_view {
    display: none;
}

div.camera_menu {
    text-align: center;
    padding: 0.3em 0 0.3em 0;
    background-color: pink;
}

input.camera_menu {
    font-size: small;
    margin: 0;
    border-style: solid;
    border-width: 0.1em;
    border-color: whitesmoke;
}

input.author_name {
    font-size: small;
    max-width: 30%;
}

select.context_tag {
    font-size: small;
    max-width: 30%;
}

input.photo_count {
    font-size: small;
    text-align: center;
    max-width: 2em;
}

input.debug {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

div.camera_main {
    display: flex;
}

video.camera_preview {
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: calc(100vh - 2.5em);
}

div.camera_shutter {
    position: absolute;
    text-align: center;
    top: 55%;
    bottom: auto;
    left: auto;
    right: 1em;
    transform: translateY(-50%);
}

div.camera_shutter_button {
    display: block;
    margin: 0.5em;
    width: 5em;
    height: 5em;
    line-height: 5em;
    border-radius: 5em;
    border-color: lightgray;
    border-width: 0.1em;
    font-size: small;
    text-align: center;
}


/* カメラビュー：レスポンシブ対応 */

@media screen and (orientation: portrait) {
    input.author_name {
        max-width: 25%;
    }
    select.context_tag {
        max-width: 25%;
    }
    div.camera_shutter {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
    div.camera_shutter_button {
        display: inline-block;
    }
}

audio.camera_shutter_sound {
    display: none;
}

canvas.camera_canvas {
    display: none;
}


/* 認証ビュー用の設定. */

div.auth_error_message {
    display: none;
    margin: 0.25em;
    color: coral;
    font-weight: bolder;
}

input.auth_input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0.25em;
}

input.separator {
    margin-bottom: 1em;
}

input.auth_button {
    display: block;
    width: 100%;
    margin: 1em 0.25em 0 0.25em;
}

a.help_link {
    display: block;
    font-size: small;
    color: dimgray;
    text-decoration: none;
}

a.app_open_link {
    display: block;
    font-size: small;
    color: dimgray;
    margin: 0.5em;
    text-decoration: none;
}


/* 設定ビュー用の設定. */

div.setting_title {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: x-large;
}

table.setting {
    text-align: left;
    font-size: small;
    border-collapse: collapse;
}

td.setting {
    padding: 0.5em;
    min-width: 10em;
    border-bottom: 0.1em solid lightgray;
}

input.setting {
    display: block;
    width: 100%;
    margin: 1em 0.25em 0 0.25em;
}

input.version {
    background-color: whitesmoke;
}

input.setting_button {
    display: block;
    width: 100%;
    margin: 1em 0.25em 0 0.25em;
}


/* デバッグビュー用の設定. */

textarea.debug_log {
    background-color: black;
    color: white;
    width: 100%;
    height: 90vh;
}