<!DOCTYPE html>
<html lang="{{LANG}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="{{CAMERA_APP_DESCRIPTION}}">
    <meta name="theme-color" content="{{APP_THEME_COLOR}}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{CAMEWRA_APP_NAME}}">
    <meta name="google" content="notranslate">
    <link rel="shortcut icon" href="{{CAMERA_APP_FAVICON}}">
    <link rel="apple-touch-icon" href="{{CAMERA_APP_ICON180}}">
    <link rel="apple-touch-startup-image" href="{{CAMERA_APP_ICON512}}">
    <link rel="manifest" href="camera-app.webmanifest">
    <link rel="stylesheet" href="{{BULMA_CSS}}">
    <link rel="stylesheet" href="{{COMMON_CSS}}">
    <link rel="stylesheet" href="camera-app.css">
    <script src="{{DEXIE_JS}}" defer></script>
    <script src="{{CRYPTO_JS}}" defer></script>
    <script src="camera-app.js" defer></script>
    <title>{{CAMERA_APP_NAME}}</title>
</head>

<body id="app" class="app" onload="main()">
    <div id="main_view" class="tama-main" style="display:none">
        <div class="tama-menu">
            <input id="current_author_name" class="tama-author-name" type="button">
            <select id="context_tags" class="tama-context-tags" size="1"></select>
            <input id="photo_count" class="tama-photo-count" type="button">
            <input id="setting" class="tama-setting" type="button" value="&#128295;">
        </div>
        <video id="preview" class="tama-preview" preload="metadata" playsinline muted></video>
        <div id="shutters" class="tama-shutters"></div>
        <audio id="shutter_audio" src="{{CAMERA_APP_SHUTTER_WAV}}" style="display:none"></audio>
        <canvas id="canvas" style="display:none"></canvas>
        <div id="setting_dialog" class="modal px-5">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head has-background-primary">
                    <p class="modal-card-title">{{CAMERA_APP_NAME}}</p>
                    <button id="version" class="button is-small has-background-light">{{VERSION}}</button>
                </header>
                <section class="modal-card-body has-background-light">
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input id="shutter_sound" type="checkbox">{{SHUTTER_SOUND_LABEL}}                            
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label classs="checkbox">
                                <input id="auto_reload" type="checkbox">{{AUTO_RELOAD_LABEL}}
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label classs="checkbox">
                                <input id="encryption" type="checkbox">{{ENCRYPTION_LABEL}}
                            </label>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button id="save_setting" class="button is-success is-fullwidth is-rounded">{{SAVE_LABEL}}</button>
                </footer>
            </div>
        </div>
    </div>
    <div id="signin_view" class="hero is-primary is-fullheight" style="display:none">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-tablet is-half-desktop is-half-widescreen is-5-fullhd">
                        <button id="signin-cancel" class="delete is-pulled-right m-1"></button>
                        <div class="box">
                            <div class="has-text-centered">
                                <figure class="image is-96x96 is-inline-block">
                                    <img src="{{CAMERA_APP_ICON192}}" alt="">
                                </figure>
                                <p><strong>{{CAMERA_APP_NAME}}</strong></p>
                                <p><small>{{VERSION}}</small></p>
                            </div>
                            <div class="field">
                                <input id="author_name" class="input" type="text" required minlength="{{MIN_NAME_LENGTH}}" maxlength="{{MAX_NAME_LENGTH}}" placeholder="{{AUTHOR_NAME_LABEL}}" autocorrect="off" autocapitalize="none" autofocus>
                            </div>
                            <div class="field">
                                <input id="username" class="input" type="text" required minlength="{{MIN_NAME_LENGTH}}" maxlength="{{MAX_NAME_LENGTH}}" placeholder="{{USERNAME_LABEL}}" autocorrect="off" autocapitalize="none">
                            </div>
                            <div class="field">
                                <input id="password" class="input" type="password" required minlength="{{MIN_NAME_LENGTH}}" maxlength="{{MAX_NAME_LENGTH}}" placeholder="{{PASSWORD_LABEL}}">
                            </div>
                            <p id="signin_error" class="notification is-warning my-2" style="display:none">{{SIGNIN_ERROR_MESSAGE}}</p>
                            <button id="signin" class="button is-success is-rounded is-fullwidth">{{SIGNIN_LABEL}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="install_view" class="hero is-primary is-fullheight" style="display:none">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-tablet is-half-desktop is-half-widescreen is-5-fullhd">
                        <div class="box">
                            <div class="has-text-centered">
                                <figure class="image is-96x96 is-inline-block">
                                    <img src="{{CAMERA_APP_ICON192}}" alt="">
                                </figure>
                                <p><strong>{{CAMERA_APP_NAME}}</strong></p>
                                <p><small>{{VERSION}}</small></p>
                                <p class="is-size-4 my-3">{{INSTALL_MESSAGE}}</p>
                                <a class="button is-warning is-rouded is-fullwidth" href="{{APP_MODE_URL_PARAM}}">{{OPEN_APP_LABEL}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="error_view" class="hero is-primary is-fullheight" style="display:none">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-tablet is-half-desktop is-half-widescreen is-5-fullhd">
                        <div class="box">
                            <div class="has-text-centered">
                                <figure class="image is-96x96 is-inline-block">
                                    <img src="{{NG_ICON192}}" alt="">
                                </figure>
                                <p><strong>{{CAMERA_APP_NAME}}</strong></p>
                                <p><small>{{VERSION}}</small></p>
                                <p class="notification is-danger">{{FATA_ERROR_MESSAGE}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>