<!DOCTYPE html>
<html lang="{{LANG}}">
<!-- タマリンカメラの画面. -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- モバイルSafari対応:ここから -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{NAME}}">
    <link rel="apple-touch-icon" href="{{ICON_180}}">
    <link rel="apple-touch-startup-image" href="{{ICON_512}}">
    <!-- モバイルSafari対応:ここまで -->
    <meta name="description" content="{{DESCRIPTION}}">
    <meta name="author" content="{{AUTHOR}}">
    <meta name="theme-color" content="{{THEME_COLOR}}">
    <link rel="shortcut icon" href="{{FAVICON}}">
    <link rel="manifest" href="camera-app.webmanifest">
    <link rel="stylesheet" href="camera-app.css">
    <script src="{{DEXIE_JS}}" defer></script>
    <script src="{{CRYPTO_JS}}" defer></script>
    <script src="{{IMAGECAPTURE_JS}}" defer></script>
    <script src="camera-app.js" defer></script>
    <title>{{NAME}}</title>
</head>

<body class="app" onload="main()">
    <!-- 以下のいずれかのビューのみをユーザに見せる. -->

    <!-- カメラビュー：ユーザがカメラ操作をするビュー. -->
    <div id="camera_view" class="camera_view">
        <div class="camera_menu">
            <input id="camera_author_name" class="button author_name camera_menu" type="button">
            <select id="camera_context_tag" class="select context_tag camera_menu"></select>
            <input id="camera_photo_count" class="button photo_count camera_menu" type="button">
            <input id="camera_setting" class="button camera_menu" type="button" value="&#128295;">
            <input id="camera_debug" class="button camera_menu debug" type="button" value="&#128027;">
        </div>
        <div class="camera_main">
            <video id="camera_preview" class="camera_preview" playsinline muted disableRemotePlayback x-webkit-airplay="deny"></video>
            <div id="camera_shutter" class="camera_shutter">
                <div class="camera_shutter_button"></div>
            </div>
        </div>
        <audio id="camera_shutter_sound" class="camera_shutter_sound" src="{{CAMERA_SHUTTER_SOUND}}" preload="auto"></audio>
    </div>
    <!-- 認証ビュー：ユーザがサインインをするビュー. -->
    <div id="auth_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{ICON_192}}">
            <div class="panel_title">{{NAME}}</div>
            <div class="panel_subtitle">{{VERSION}}</div>
            <div id="auth_error_message" class="auth_error_message">{{AUTH_ERROR_MESSAGE}}</div>
            <input id="auth_author_name" class="input auth_input separator" type="text" required minlength="1" maxlength="{{AUTH_MAX_LENGTH}}" placeholder="{{AUTHOR_NAME_LABEL}}">
            <input id="auth_username" class="input auth_input" type="text" required minlength="1" maxlength="{{AUTH_MAX_LENGTH}}" placeholder="{{USERNAME_LABEL}}" autocorrect="off" autocapitalize="none">
            <input id="auth_password" class="input auth_input" type="password" required minlength="1" maxlength="{{AUTH_MAX_LENGTH}}" placeholder="{{PASSWORD_LABEL}}">
            <input id="auth_ok" class="button auth_button" type="button" value="{{AUTH_OK_LABEL}}">
            <a class="help_link" href="{{CONNECTOR_HELP_URL}}" target="_blank">{{CONNECTOR_HELP_LABEL}}</a>
        </div>
    </div>
    <!-- 設定ビュー：ユーザが設定値の確認と変更をするビュー. -->
    <div id="setting_view" class="panel_view">
        <div class="panel_content">
            <div class="setting_title">{{SETTING_LABEL}}</div>
            <a class="help_link" href="{{CAMERA_HELP_URL}}" target="_blank">{{CAMERA_HELP_LABEL}}</a>
            <table class="setting">
                <tr>
                    <td class="setting">{{SHUTTER_SOUND_LABEL}}</td>
                    <td class="setting">
                        <input id="setting_shutter_sound" class="input" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td class="setting">{{AUTO_RELOAD_LABEL}}</td>
                    <td class="setting">
                        <input id="setting_auto_reload" class="input" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td class="setting">{{ENCRYPTION_LABEL}}</td>
                    <td class="setting">
                        <input id="setting_encryption" class="input" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td class="setting">{{VERSION_LABEL}}</td>
                    <td class="setting">
                        <input id="setting_version" class="input version" type="button" value="{{VERSION}}">
                    </td>
                </tr>
            </table>
            <input id="setting_ok" class="button setting_button" type="button" value="{{SETTING_OK_LABEL}}">
        </div>
    </div>
    <!-- ローディングビュー：「おまちください」を表示. -->
    <div id="loading_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{LOADING_ICON}}">
            <div class="panel_message">{{LOADING_LABEL}}</div>
        </div>
    </div>
    <!-- インストールビュー：「インストールの準備ができました」を表示. -->
    <div id="install_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{ICON_192}}">
            <div class="panel_title">{{NAME}}</div>
            <div class="panel_subtitle">{{VERSION}}</div>
            <div class="panel_message">{{INSTALL_LABEL}}</div>
            <a class="help_link" href="{{INSTALL_HELP_URL}}" target="_blank">{{INSTALL_HELP_LABEL}}</a>
            <a class="app_open_link" href="{{MODE_APP}}">{{APP_OPEN_LABEL}}</a>
        </div>
    </div>
    <!-- エラービュー：エラーを表示. -->
    <div id="error_view" class="panel_view">
        <div class="panel_content">
            <img class="panel_icon" src="{{ERROR_ICON}}">
            <div class="panel_message">{{ERROR_LABEL}}</div>
        </div>
    </div>
    <!-- デバッグビュー：デバッグ用のビュー. -->
    <div id="debug_view" class="panel_view">
        <input id="debug_close" class="button" type="button" value="X">
        <input id="debug_reload" class="button" type="button" value="LD">
        <input id="debug_clear" class="button" type="button" value="CLR">
        <input id="debug_reset" class="button" type="button" value="RST">
        <input id="debug_camera" class="button" type="button" value="V">
        <textarea id="debug_log" class="debug_log" readonly></textarea>
    </div>
</body>

</html>