body::-webkit-scrollbar {
    display: none;
}

.tama-main {
    background-color: black;
    width: 100%;
    height: 100vh;
    touch-action: none !important;
    overflow: hidden !important;
    overscroll-behavior: none !important;
}

.tama-menu {
    background-color: lightpink;
    font-size: large;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5ex;
    padding-bottom: 0;
    height: 5ex;
}

.tama-author-name {
    width: 30%;
    margin: 0;
    padding: 0;
    border: 0.1em;
    border-radius: 1em;
    font-size: large;
    background-color: lavenderblush;
    border-color: dimgray;
    cursor: pointer;
}

.tama-context-tags {
    width: 30%;
    margin: 0;
    padding: 0;
    border: 0.1em;
    z-index: 100;
    font-size: large;
    text-rendering: auto !important;
    -webkit-appearance: menulist-button !important;
    background-color: lavenderblush;
    border-color: dimgray;
}

.tama-photo-count {
    min-width: 2.5em;
    margin: 0;
    padding: 0;
    border: 0.1em;
    border-radius: 1em;
    font-size: large;
    background-color: lavenderblush;
    border-color: dimgray;
    cursor: pointer;
}

.tama-setting {
    min-width: 2em;
    margin: 0;
    padding: 0;
    border: 0.1em;
    border-radius: 1em;
    font-size: large;
    background-color: lavenderblush;
    border-color: dimgray;
    cursor: pointer;
}

.tama-preview {
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: calc(100vh - 6ex);
    z-index: 1;
}

.tama-shutters {
    position: absolute;
    text-align: center;
    top: 55%;
    bottom: auto;
    left: auto;
    right: 1em;
    transform: translateY(-50%);
    z-index: 10;
}

.tama-zoom {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    background: navy;
    border-radius: 0.5ex;
    padding: 0.1em;
    position: absolute;
    z-index: 20;
    width: 50%;
    left: 25%;
    right: 25%;
    height: 1ex;
    bottom: 1ex;
}

.tama-shutter {
    display: block;
    margin: 0.5em;
    width: 5em;
    height: 5em;
    line-height: 5em;
    border-radius: 5em;
    border-color: lightgray;
    border-width: 0.1em;
    font-size: small;
    font-weight: bold;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}

@media screen and (orientation: portrait) {
    .tama-shutters {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .tama-shutter {
        display: inline-block;
    }
}